$lt-gray: #ddd;
$background-dark: #902a3f;
$background-light: #b73650;
$background-pale: #cc546c;
$background-moredark: #671d2c;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

$background-moredark: #4527A0;

.active {
    background: $background-moredark;
}