<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    style="margin: 8em;">

  <div style="width:50% ;" *ngIf="dish">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                <h1>{{dish.name | uppercase}}</h1>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
            <p>
                {{dish.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg">
          </span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg">
            </span></button>
        </mat-card-actions>
    </mat-card>
  </div>

  <!-- <div style="margin-left: 5em;" > -->
    <div fxFlex="40" *ngIf="dish">
    <mat-list >
    <h1 style="font-size: 50px; font-weight: bolder;">Comments</h1>
    <br>
    <mat-list-item *ngFor="let dish of dish.comments">
      <h4 matLine> {{dish.comment}} </h4>
      <p matLine>{{dish.rating}} stars</p>
      <p matLine>
        <span>-- {{dish.author}} {{dish.date | date}}</span>
      </p>
      <br>
    </mat-list-item>
    
    <mat-list-item *ngIf="commentForm.dirty || !submitted">
      <h4 matLine> {{commentForm.value.comment}} </h4>
      <p matLine>{{finalValue}} 
        <span *ngIf="finalValue==1">star</span><span *ngIf="finalValue>1">stars</span></p>
      <p matLine>
        <span>--{{commentForm.value.author}} {{comments.date | date}}</span>
      </p>
      <br>
    </mat-list-item>
    <br>
    <mat-list-item *ngIf="submitted">
      <div *ngFor="let commentadded of commentArr">
      <h4 matLine> {{commentadded.comment}} </h4>
      <p matLine>{{finalValue}} 
        <span *ngIf="finalValue==1">star</span><span *ngIf="finalValue>1">stars</span></p>
      <p matLine>
        <span>--{{commentadded.author}} {{comments.date | date}}</span>
      </p>
      <br>
    </div>
    </mat-list-item>
    <br>

  </mat-list>
  
  <div class="form-size">
    <form novalidate [formGroup]="commentForm" #commForm="ngForm" (ngSubmit)="onSubComm()">

      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Author name" type="text" required >
          <mat-error *ngIf="formErr.author">{{formErr.author}}</mat-error>
        </mat-form-field>
        <br>
       
          <mat-slider formControlName="rating" [min]="0" [max]="5" [step]="1" (change)="onInputChange($event)"   [thumbLabel]="true"> 
          </mat-slider>
          <span>{{finalValue}}</span>
        <br>

        <mat-form-field class="full-width" >
          <textarea matInput formControlName="comment" placeholder="Please provide your comments" rows="2" required></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>

    </form>
  </div>
</div>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading.... Please Wait</h4>
  </div>

</div>
